.nave{
    font-size: 16px;
    color: red;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: flex-end;
}

.link{
    color: black;
    text-decoration: none;
    padding-right: 10px;
    
}

.tabla{
    width: 100%;
    border: 10px;
}
